.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-login {
  width: 100%;
  height: 949px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.login-navigation {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 72px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.login-logo {
  top: 11px;
  left: 135px;
  width: 200px;
  height: 50.75191879272461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-group7068 {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 50.75191879272461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-vector1 {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 51px;
  position: absolute;
}
.login-group7067 {
  top: 13.5038423538208px;
  left: 10.12786865234375px;
  width: 23.6317138671875px;
  height: 23.6317138671875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-vector2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.login-vector3 {
  top: 11.928391456604004px;
  left: 6.526859283447266px;
  width: 11px;
  height: 6px;
  position: absolute;
}
.login-text {
  top: 18px;
  left: 55px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 26.103775024414062px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 13.051887512207031px;
  font-stretch: normal;
  text-decoration: none;
}
.login-footer11 {
  top: 709px;
  left: 0px;
  width: 1440px;
  height: 240px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-menu {
  top: 169px;
  left: 135px;
  width: 1171px;
  height: 26.39990234375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-text02 {
  left: 872px;
  color: rgba(0, 0, 0, 1);
  width: 299px;
  height: auto;
  position: absolute;
  text-align: right;
  line-height: 26px;
}
.login-text04 {
  top: 0.39990234375px;
  left: 152.19944763183594px;
  color: rgba(0, 0, 0, 1);
  width: 93px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 26px;
}
.login-text06 {
  left: 61px;
  color: rgba(0, 0, 0, 1);
  width: 75px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 26px;
}
.login-text08 {
  color: rgba(0, 0, 0, 1);
  width: 44px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 26px;
}
.login-divider {
  top: 120px;
  left: 136.09451293945312px;
  width: 1170px;
  height: 2px;
  opacity: 0.30;
  position: absolute;
}
.login-copyrights {
  top: 49px;
  left: 136.09451293945312px;
  width: 86.05976104736328px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-logos-logo-white {
  top: 0px;
  left: 0px;
  width: 86.05976104736328px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-text10 {
  top: -6px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-signin {
  top: 72px;
  left: -1px;
  width: 1441px;
  height: 637px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-image16 {
  top: 1px;
  left: 0px;
  width: 1440px;
  height: 636px;
  position: absolute;
}
.login-form7 {
  top: 0px;
  left: 1px;
  width: 1440px;
  height: 637px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(59, 57, 55, 0.20000000298023224);
}
.login-background {
  top: 0px;
  left: -20.90321922302246px;
  width: 1482px;
  height: 655px;
  opacity: 0.60;
  position: absolute;
}
.login-sign-up-form {
  top: 89px;
  left: 505px;
  width: 430px;
  height: 459px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-group7080 {
  top: 0px;
  left: 0px;
  width: 430px;
  height: 459px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-group7101 {
  top: 0px;
  left: 0px;
  width: 430px;
  height: 459px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-placeholder {
  top: 0px;
  left: 0px;
  width: 430px;
  height: 459px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.login-group7100 {
  top: 75px;
  left: 50px;
  width: 330px;
  height: 307px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-middle-fillbutton {
  top: 257px;
  left: 0px;
  width: 330px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-rectangle {
  top: 0px;
  left: 0px;
  width: 330px;
  height: 50px;
  position: absolute;
  border-radius: 100px;
}
.login-text12 {
  top: 12px;
  left: 140px;
  color: var(--dl-color-colors-white);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 26px;
}
.login-middle-dark-outline {
  top: 167px;
  left: 0px;
  width: 330px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-rectangleinput {
  top: 0px;
  left: 0px;
  width: 330px;
  height: 50px;
  position: absolute;
  border-color: rgba(234, 234, 237, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 100px;
}
.login-text14 {
  top: 12px;
  left: 24px;
  color: var(--dl-color-colors-text);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 26px;
}
.login-middle-dark-outline1 {
  top: 97px;
  left: 0px;
  width: 330px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-rectangleinput1 {
  top: 0px;
  left: 0px;
  width: 330px;
  height: 50px;
  position: absolute;
  border-color: rgba(234, 234, 237, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 100px;
}
.login-text16 {
  top: 12px;
  left: 24px;
  color: var(--dl-color-colors-text);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 26px;
}
.login-text18 {
  left: 110px;
  color: var(--dl-color-colors-heading);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 52px;
}
